<!DOCTYPE html>
<html>
<head>
	<title>Game</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/css/chat.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
    		var socket = io.connect('http://haidei-game.herokuapp.com/test');
//    		var socket = io.connect('http://127.0.0.1:5000/test');

            socket.on('my connecting', function(msg) {
        		$('#connecting').append('<p>'+ msg.name+' ' + msg.data+'</p>');
    		});

    		socket.on('my response', function(msg) {
        		$('#log').append('<p>Received: from '+ msg.cell_name + ' to -> '+ msg.data + '</p>');
    		});

            socket.on('cell response', function(msg) {
        		$('#'+msg.data).append(msg.cell_name);
        		$('#'+msg.data).attr("data-status", "false");
    		});


    		$('.cell').click(function(event) {
    		    var cell_id = $(this).attr('id');
    		    if ($(this).attr('data-status') === "true"){
        		    socket.emit('cell event', {data: cell_id});

        		}else{
        		    alert('Field is blocked!');
        		}
        		return false;
    		});

    		$('.cell').click(function(event) {
    		    var cell_id = $(this).attr('id');
        		socket.emit('my event', {data: cell_id});
        		return false;
    		});

    		$('form#join').submit(function(event) {
                socket.emit('join', {room: $('#join_room').val()});
                return false;
            });
		});
    </script>
</head>
<body>
    <form id="join" method="POST" action='#'>
        <input type="text" name="join_room" id="join_room" placeholder="Room Name">
        <input type="submit" value="Join Room">
    </form>

    <div class="container">
        <div class="game">
            <table class="game-table">
                <thead class="table-header">
                    <tr>
                        <td colspan="3">Game Board</td>
                    </tr>
                </thead>
                <tbody id="game-board" class="table-body" >
                    <tr>
                        <td id='1' class="cell" data-status="true"></td>
                        <td id='2' class="cell" data-status="true"></td>
                        <td id='3' class="cell" data-status="true"></td>
                    </tr>
                    <tr>
                        <td id='4' class="cell" data-status="true"></td>
                        <td id='5' class="cell" data-status="true"></td>
                        <td id='6' class="cell" data-status="true"></td>
                    </tr>
                    <tr>
                        <td id='7' class="cell" data-status="true"></td>
                        <td id='8' class="cell" data-status="true"></td>
                        <td id='9' class="cell" data-status="true"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="connecting"></div>
    <div id='log'>

    </div>
</body>
</html>