<!DOCTYPE html>
<html>
<head>
	<title>Game</title>
	<link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/css/chat.css">
    <script type="text/javascript" src="./static/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="./static/js/socket.io.js"></script>
    <script type="text/javascript" src="./static/js/app.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <ul class="nav navbar-nav">
            <li class="header-btn">
                <a class="navbar-brand" href="/">Log Out</a>
            </li>
            <li class="header-btn">
                <a class="navbar-brand" href="/game-with-comp">New Game</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="game-container">
        <div class="game">
            <table class="game-table">
                <thead class="table-header">
                    <tr>
                        <td colspan="3">Game Board</td>
                    </tr>
                </thead>
                <tbody id="game-board" class="table-body" data-bot="true">
                    <tr>
                        <td id='1' class="cell" data-status="true"></td>
                        <td id='2' class="cell" data-status="true"></td>
                        <td id='3' class="cell" data-status="true"></td>
                    </tr>
                    <tr>
                        <td id='4' class="cell" data-status="true"></td>
                        <td id='5' class="cell" data-status="true"></td>
                        <td id='6' class="cell" data-status="true"></td>
                    </tr>
                    <tr>
                        <td id='7' class="cell" data-status="true"></td>
                        <td id='8' class="cell" data-status="true"></td>
                        <td id='9' class="cell" data-status="true"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="connecting"></div>
    <div id='log'>

    </div>
</body>
</html>